<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aibei.lixue.lixueandroids"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".samples.mertialDesign.drawerLayout.HomeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".samples.libSamples.bezier.MainActivity"
            android:label="@string/main_name"
            android:parentActivityName=".samples.mertialDesign.drawerLayout.HomeActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".samples.mertialDesign.drawerLayout.HomeActivity"/>
        </activity>
        <activity android:name=".samples.pictures.PhotoWallActivity">
        </activity>
        <activity android:name=".thirdframes.rxjavaDemo.RxjavaDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MVC.MVCActivity">
        </activity>
    </application>

</manifest>